<section class="design">
  <div class="alphabet js-alphabet">Hh</div>
  <section>
    <div class="word js-word">human perfection</div>
    <div class="type js-type">(noun)</div>
    <p class="context js-explanation">Features include deep Australian voice, charisma and winning personality.</p>
    <p class="see-also">
       (see also: <strong class="js-name">Chris Hemsworth</strong>)</p>
    <div class="image">
      <img id="imager" src="https://meowlivia.s3.us-east-2.amazonaws.com/codepen/avengers/thor.png"/>
      <p>
         an example of <span class="js-word">human perfection</span></p>
    </div>
  </section>
</section>
<input id="save-image" type="button" value="Export As Image"/>
