<form [formGroup]="onSubmitForm" class="inputs" autocomplete="off" (ngSubmit)="onSubmit()">
  <h2>Fill up this form!</h2>
  <div class="input__wrapper">
    <input class="js-mirror" id="word" type="text" required="required" data-destination="word" formControlName="searchWord"/>
    <label>Word You're "Searching"</label>
    <div style="display: flex;">
      <div class="wrapper-button">
        <input class="btn" id="save-image" type="submit" value="Search"/>
      </div>
      <div>
        <select class="form-select" name="language" id="languageDropDown" formControlName="searchWordLanguage">
          <option value="en-gb">EN</option>
          <option value="en-us">EN-US</option>
        </select>
      </div>
    </div>
  </div>

  <section>
    <div class="word js-word">human perfection</div>
    <div class="type js-type">(noun)</div>
    <p class="context js-explanation">Features include deep Australian voice, charisma and winning personality.</p>
    <p class="see-also">
        (see also: <strong class="js-name">Chris Hemsworth</strong>)</p>
    <div class="image">
      <p>
          an example of <span class="js-word">human perfection</span></p>
    </div>
  </section>
</form>
