<form class="inputs" autocomplete="off">
  <h2>Fill up this form!</h2>
  <div class="input__wrapper">
    <input class="js-mirror" id="word" type="text" maxlength="20" required="required" data-destination="word"/>
    <label>Word You're "Searching"</label>
    <div class="wrapper-button">
      <input class="btn" id="save-image" type="submit" value="Search"/>
    </div>
  </div>

  <section>
    <div class="word js-word">human perfection</div>
    <div class="type js-type">(noun)</div>
    <p class="context js-explanation">Features include deep Australian voice, charisma and winning personality.</p>
    <p class="see-also">
        (see also: <strong class="js-name">Chris Hemsworth</strong>)</p>
    <div class="image">
      <p>
          an example of <span class="js-word">human perfection</span></p>
    </div>
  </section>
</form>
